body{
    background-image: url('../images/quiz.jpg');
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
    background-size: 100%;
}
header{
    width: 100%;
    height: 15%;
    background-color: #808080;
    text-align: center;
    color: #ffba00;
}
.logo{
    width: 10%;
    height: 10%;
    float: left;
}
.logo>img{
    width: 100%;
    height: 100%;
}
.conteneur{
    position: relative;
    bottom: 8px;
    width: 100%;
    height: 700px;
}
.container-fluid{
    width: 100%;
    height: 10%;
    background-color: #ffbb009d;
}

.deconnexion{
    position: relative;
    top: 11px;;
    float: left;
    width: 15%;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #ebe0c2;
}
.container-fluid>.profil{
    position: relative;
    bottom: 55px;
    float: right;
    color: white;
}
.container-fluid>h3{
    position: relative;
    padding: 5px;
    left: 150px;
    color: white;
    height: 50px;
}
.menu{
    border-radius: 5px;
    margin: auto;
    width: 80%;
    background-color: #828282;
}
.ul-group{
    width: 100%;
	padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
}
.ul-group li {
	display: inline;
	list-style: none;
}
.ul-group a {
	display:inline-block;
    margin: 0 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.ul-group a:hover{
    color: #f8b818;
}
.contenu{
    position: relative;
    top: 20px;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    border: 4px solid #ebe0c2;
    background-color: #00000085;
}